html, body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}


#videoBox {
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

video {
    max-height: 100%;
    max-width: 100%;
    z-index: 2;
    /* transition: height 2s; */
    transition-property: height;
    transition-duration: 2s;
}

#textBox {
    align-self: center;
    text-align: center;

    background-color: violet;
    padding: 5px;
    border-radius: 8px;

    /* margin-left: auto;
    margin-right: auto; */
}

#choiceBox {
    position: fixed;
    padding-top: 5px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#cacheChoiceBox {
    position: fixed;
    background-color: black;
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: 0px;
    transition: background-color 1s;
}

.choice {
    cursor: pointer;
    width: 400px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: gainsboro;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}