html, body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


#video {
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#text {
    align-self: center;
    text-align: center;
    background-color: violet;
    padding: 5px;
    border-radius: 8px;

    /* margin-left: auto;
    margin-right: auto; */
}

#choiceBox {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.choice {
    margin-bottom: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: hotpink;
    border-radius: 3px;
}